<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>iSview - Inject Solar LLP</title>
    <link rel="icon" href="icons/isviewlogo.png"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="form">
    <div id="frgtpass">
        <h1 style="text-align:left">Select Your Login Password!</h1>

        <form action="./resetpassword" method="post" onsubmit="return matchPasswords()">

            <div class="field-wrap">
                <label>
                    Enter Password<span class="req">*</span>
                </label>
                <input id="newpassword" name="newpassword" type="text" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>
                    Confirm Password<span class="req">*</span>
                </label>
                <input type="text" id="newpasswordconfirm" name="newpasswordconfirm" required autocomplete="off"/>
            </div>

            <div class="field-wrap" style="display: none">
                <input id="token" name="token" type="text" value="<%= token %>"/>
            </div>

            <div class="field-wrap">
                <label>
                    <!--   Password<span class="req">*</span>-->
                </label>
            </div>

            <p class="forgot"><a href="./login">Log In</a></p>

            <button class="button button-block" type="submit"/>
            Submit</button>

        </form>
    </div>
    <!-- tab-content -->

</div>
<!-- /form -->
<script src='./libs/js/jquery.min.js'></script>
<script src='./js/login.js'></script>
<script>
    function matchPasswords() {
        var pass1 = document.getElementById("newpassword").value;
        var pass2 = document.getElementById("newpasswordconfirm").value;
        var ok = true;
        if (pass1 != pass2) {
            alert("Passwords Do not match");
            document.getElementById("newpassword").style.borderColor = "#E34234";
            document.getElementById("newpasswordconfirm").style.borderColor = "#E34234";
            ok = false;
        }
        else {
            //alert("Passwords Match!!!");
        }
        return ok;
    }
</script>
</body>
</html>
